.header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;

        a {
            height: 100%;
            width: auto;
            color: white;
            text-decoration: none;
            display: flex;

            img {
                height: 100px;
            }
        }

        .logo {
            height: calc(100% - 24px);
            width: auto;
            padding: 12px 24px;
        }

        .menu {
            margin-left: auto;
            display: flex;
            align-items: center;
            font-size: 18px;
            
            * {
                color: white;
                text-decoration: none;
                position: relative;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                margin: 0px 24px;
            }
            
            img
            {
                margin-right: 36px;
                transition-duration: 1000ms;
                cursor: pointer;
            }

            img:hover {
            filter: drop-shadow(0 0 0.75rem black);
            }
        }
    }

@media (max-width: 1023px)
{

}
